.textarea {
    font-family: inherit;
    font-size: inherit;
    width: 100%;
    min-height: 80px;
    padding: 10px 20px;
    border-radius: 8px;
    color: #3a3b3c;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.textarea:focus {
    border: #5357b6;
}
